.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoList {
  width: 500px;
  /* height: 500px; */
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(202, 234, 234);
  margin: 50px 0;
}

.todoList form:first-child {
  display: grid;
  grid-template-columns: 1fr 120px;
  margin: 20px;
}
.todoList input {
  padding: 10px 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid rgb(113, 112, 112);
}
.todoList form:first-child button {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid rgb(113, 112, 112);
  background-color: #13b7d4;
  color: white;
}

